.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
   /* moves the top line downard, and rotates the line downward from the left. */
  from {
    transform:translate(0px,0px) rotate(0deg);
    background-color: rebeccapurple;
  }
  to {
    transform:translate(0px, 33px) rotate(45deg);
    background-color: ghostwhite;

  }
}
@keyframes middle {
   /* moves the bottom line up, and rotates the line upward from the left right. */
  from {opacity:1;}
  to {opacity:0;}
}

@keyframes bottom {
  /* moves the bottom line up, and rotates the line upward on the right. */
  from {
    background-color: rebeccapurple;
    transform:translate(0px,0px) rotate(0deg);
  }
  to {
    transform:translate(0px,-33px) rotate(-45deg);
    background-color: ghostwhite;
  }
}
